.list-container {
    height: 410px;
    overflow: auto;
}
.user-above50 {
    background-color: #EDEEFD;
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.wrapper {
    position: relative;
}